{% extends "base.html" %}
{% block title %}
    Manage Match
{% endblock title %}
{% block primary %}
    <div class="box box-default">
    <div class="box-body">
        {% if phase == 'pick_map' %}
            <p>You are now in the map picking phase of match setup. If the maps under map remaining are links, it is your turn to vote to veto. Each team will veto two maps, alternating between teams. After four maps have been vetoed, the map will be randomly selected from the remaining maps and a server will be assigned to your match. If you have any problems with this, please contact an admin.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-body no-padding">
                        <table class="table table-condensed">
                            <tbody><tr>
                                <th>{{ match.home_team }} Vetoes</th>
                            </tr>
                            {% for map in match.home_veto.all %}
                                <tr>
                                    <td>{{ map.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-body no-padding">
                        <table class="table table-condensed text-center">
                            <tbody><tr>
                                <th>Maps Remaining</th>
                            </tr>
                            {% for map in maps_remaining %}
                                <tr>
                                    <td>{% if picking_team == request.user.team_set.all.0 %}<a href="{% url 'veto_map' match_id=match.pk map_id=map.pk %}">{{ map.name }}</a>{% else %}{{ map.name }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>
                </div>
                <div class="col-md-4"><div class="box-body no-padding">
                    <table class="table table-condensed text-right">
                        <tbody><tr>
                            <th>{{ match.away_team }} Vetoes</th>
                        </tr>
                        {% for map in match.away_veto.all %}
                            <tr>
                                <td>{{ map.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody></table>
                </div></div>


            </div>

        {% else %}
            You are playing {{ match.map }} on {{ match.server }} <a href="steam://{{ match.server.ip }};password gxlmatch">connect {{ match.server.ip }}; password tf2gxl</a>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Report Score</h3>
                        </div>
                        <div class="box-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <label for="home_score">{{ match.home_team }}</label>
                                    <input type="number" name="home_score">
                                </div>
                                <div class="input-group">
                                    <label for="away_score">{{ match.away_team }}</label>
                                    <input type="number" name="away_score">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        {% endif %}
    </div>
    </div>

{% endblock %}
{% block scripts %}
{% endblock %}