{% extends "base.html" %}
{% load tournament_query %}
{% load staticfiles %}
{% block title%}
    {{ tournament.name }} | <small>At {{ tournament.location }}</small>
{% endblock %}

{% block primary %}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tournament Information</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Status:</b> <span class="pull-right"> {{ tournament.get_status_display }} </span>
                        </li>
                        <li class="list-group-item">
                            <b>Description</b> <span class="pull-right">{{ tournament.description }}</span>
                        </li>
                    </ul>
                    {% if eligible %}
                        <form method="post">
                            {% csrf_token %}
                            <p class="margin">Choose a division to sign up for. Note, some divisions may require admin approval</p>
                            <div class="input-group">
                                <select class="form-control" name="signup">
                                    {% for div in tournament.division_set.all %}
                                        <option>{{ div.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#divisions" data-toggle="tab">Groups</a></li>
                    <li><a href="#bracket" data-toggle="tab">Finals Bracket</a></li>
                    <li><a href="#rules" data-toggle="tab">Rules</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="divisions">
                        {% for div in tournament.division_set.all %}
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">{{ div.name }}</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% for group in div.group_set.all %}
                                                {% if not forloop.counter|divisibleby:"2" %}
                                                    <div class="box">
                                                        <div class="box-header">
                                                            <h3 class="box-title">{{ group.name }}</h3>
                                                        </div><!-- /.box-header -->
                                                        <div class="box-body no-padding">
                                                            <table class="table table-condensed">
                                                                <tbody>
                                                                <tr>
                                                                    <th style="width: 10px">#</th>
                                                                    <th>Team Name</th>
                                                                    <th>Record</th>
                                                                </tr>
                                                                {% for rank in group.rank_set.all|sort_by:'rank' %}
                                                                    <tr>
                                                                        <td>{{ rank.rank }}.</td>
                                                                        <td>{{rank.team.name}}</td>
                                                                        <td>{% for record in group.record_set.all %}{% if record.team == rank.team %}{{ record.win }}-{{ record.loss }}{% endif %}{% endfor %}</td>
                                                                    </tr>
                                                                {% endfor %}

                                                                </tbody>
                                                            </table>
                                                        </div><!-- /.box-body -->
                                                    </div><!-- /.box -->
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-6">
                                            {% for group in div.group_set.all %}
                                                {% if forloop.counter|divisibleby:"2" %}
                                                    <div class="box">
                                                        <div class="box-header">
                                                            <h3 class="box-title">{{ group.name }}</h3>
                                                        </div><!-- /.box-header -->
                                                        <div class="box-body no-padding">
                                                            <table class="table table-condensed">
                                                                <tbody>
                                                                <tr>
                                                                    <th style="width: 10px">#</th>
                                                                    <th>Team Name</th>
                                                                    <th>Record</th>
                                                                </tr>
                                                                {% for rank in group.rank_set.all|sort_by:'rank' %}
                                                                    <tr>
                                                                        <td>{{ rank.rank }}.</td>
                                                                        <td>{{rank.team.name}}</td>
                                                                        <td>{% for record in group.record_set.all %}{% if record.team == rank.team %}{{ record.win }}-{{ record.loss }}{% endif %}{% endfor %}</td>
                                                                    </tr>
                                                                {% endfor %}

                                                                </tbody>
                                                            </table>
                                                        </div><!-- /.box-body -->
                                                    </div><!-- /.box -->
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="bracket">
                        <div class="box">
                            <div class="box-body text-black" id="brackets"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="rules">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
var bigData = {
  teams : [
    ["Group A 1",  "Group D 2" ],
    ["Group B 2",  "Group C 1" ],
    ["Group A 2",  "Group D 1" ],
    ["Group B 1",  "Group C 2" ],
  ],
results : [[ /* WINNER BRACKET */
    [[0,0], [0,0], [0,0], [0,0]],
    [[0,0], [0,0]],
    [[0,0]]
  ], [         /* LOSER BRACKET */
    [[0,0], [0,0]],
    [[0,0], [0,0]],
    [[0,0]],
    [[0,0]],
  ], [         /* FINALS */
    [[0 ,0], [0,0]],
    [[0,0]]
  ]]
}

$(function() { $('div#brackets').bracket({init: bigData}) })
</script>
    <script src="{% static "bootstrap/js/jquery.bracket.min.js" %}"></script>
{% endblock %}